*{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
    background-color: rgb(35, 40, 35);
    margin: 0;
    padding: 0;
}
main {
    margin: 0;
    background-image: url(img/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}
img.banner {
    display: flex;
    width: 100%;
    max-height: 300px;
    height: auto;
    margin: 0;
    overflow-y: hidden;
}
.navigation {
    display: flex;
    position: sticky;
    margin: 0%;
    height: 40px;
    width: 100%;
    background: rgb(32, 32, 32);
    align-items: center;
    top: 0%;
    left: 0%;
    overflow: hidden;
}
.navigation h1 {
    color: white;
    font-weight: bold;
    margin: 10px;
    min-width: 235px;
}
.navigation ul {
    display: inline-flex;
    right: 0%;
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
.active {
    background-color: rgb(52, 122, 52);
}
.navigation a:hover {
    cursor: pointer;
    background-color: rgb(52, 122, 52);

}
div.empty_spc {
    width: 68%;
    height: auto;
}
.content {
    display: flex;
    width: 80%;
    height: auto;
    margin: 0px auto 30px;
    flex-direction: column;
}
.content h1 {
    font-size:xx-large;
    display: flex;
    margin: 20px auto 0;
}
div.card{
    display: flex;
    width: 80%;
    margin: auto;
    height: auto;
}
.card img{
    width: fit-content;
    border-radius: 0;

}
.card .text {
    display: flex;
    align-content: stretch;
    flex-direction: column;
    width: 50%;
    background-color: rgb(53, 60, 53);
    padding: 20px;
    border-radius: 0;
    padding-top: 10px;
    font-size: larger;
    overflow: hidden;
}
.card a{
    text-decoration: none;
    color: rgb(97, 97, 212);
}
.card a:hover{
   cursor: pointer;
}
.card button{
    display: block;
    border-radius: 10px;
    background-color: rgb(79, 161, 79);
    width: max-content;
    height: max-content;
    max-height: 60px;
    max-width: 180px;
    margin: auto;
    margin-bottom: 0;
    justify-content: center;
}
.card button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}
.card img{
    width: 50%;
    height: auto;
}
.endcard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0%;
    height: auto;
    width: 100%;
    background: rgb(32, 32, 32);
    align-items: center;
    overflow:auto;
}
.endcard .student_details li{
    list-style: none;
}